.mistLeft {
  @apply w-[100px] md:w-[200px]
   absolute z-10 ;
   height: calc(100% );
   background: linear-gradient(270deg,hsla(0,0%,100%,0) 0,#fff);
   left: 0
}
.miseRight{
   @apply w-[100px] md:w-[200px]
   absolute z-10 ;
   height: calc(100% );
right: 0;
   background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff);
}
