.bg{
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg_m{
  background-image: url(./images/bg-m.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .bg {
    background-size: contain;
    background-position: center top;
  }
}
